h1{
    text-align: center;
}
h2{
    text-align: center;
}
#inicio{
    display: inline;
}
#menor{
    display: none;
}
#mayor{
    display: none;
}
#correcto{
    display: none;
}
#reload{
    display: none;
}
.row-info {
    background-color: #d659a7;
    border-radius: 20px;
}